html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Tahoma;
    font-weight: 500;
}
.overflow-hidden {
    overflow-y: hidden;
}
.top {
    width: 100% !important;
    height: 120px;
    box-shadow: 0px 2px 2px #e7e7e7;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.user {
    width: 250px;
    height: 120px;
    background-color: #a48ad4;
    display: inline-block;
}
.user #photo {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    position: absolute;
    left: 30px;
    top: 30px;
    border-radius: 100%;
    cursor: pointer;
}
.user #photo img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.user #user-name {
    width: 100px;
    height: 20px;
    line-height: 20px;
    color: #ffffff;
    position: absolute;
    left: 90px;
    top: 40px;
    padding: 0px 10px;
    font-weight: 900;
    cursor: pointer;
}
.user #user-description {
    width: 100px;
    height: 20px;
    line-height: 20px;
    color: #ffffff;
    position: absolute;
    left: 90px;
    top: 60px;
    padding: 0px 10px;
    cursor: pointer;
}
.top #menu-btn {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 40px;
    left: 300px;
    cursor: pointer;
}
.top #proj {
    width: auto;
    height: 46px;
    line-height: 46px;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 350px;
    color: #262932;
    font-size: 35px;
}
.left {
    width: 250px;
    position: fixed;
    top: 120px;
    bottom: 0px;
    background-color: #333645;
}
.menu {
    font-size: 14px;
    color: #97999e;
}
.menu .sideLine {
    width: 247px;
    height: 70px;
    position: absolute;
    left: 0px;
    top: 0;
    z-index: -1;
    line-height: 0;
    font-size: 0;
    border-left: 3px solid #f8cb00 ;
    background-color: #1e202c;
}
.menu ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.menu ul li {
    width: auto;
    height: 50px;
    line-height: 50px;
    margin: 0px;
    padding: 10px 0px 10px 30px;
    list-style: none;
    cursor: pointer;
}
.menu ul li img {
    width: 20px;
    height: 20px;
    margin: 15px 15px 15px 0px;
    float: left;
}
.menu ul li:hover,
.menu ul li.selected {
    color: #ffffff;
}
.menu ul li label {
    display: inline-block;
    width: 40px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #e95458;
    border-radius: 10px;
    margin-left: 30px;
    cursor: pointer;
}
.right {
    position: fixed;
    top: 122px;
    bottom: 0px;
    left: 250px;
    right: 0px;
    background-color: #f6f6f6;
}
.right .container {
    position: absolute;
    margin: 20px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: auto;
}
.col-3 {
    width: 33.333333%;
    float: left;
}
.col-9 {
    width: 66.666666%;
    float: left;
}
.right .container .panel {
    width: auto;
    height: 400px;
    position: inherit;
    margin: 15px;
    padding: 20px 25px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #e7e7e7;
    font-size: 14px;
}
.right .container .panel .panel-head {
    width: 100%;
    height: 70px;
    color: #bbbbbb;
    border-bottom: 2px solid #f4f4f4;
}
.right .container .panel .panel-head label {
    display: inline-block;
    margin-top: 10px;
    line-height: 50px;
    font-size: 20px;
}
.right .container .panel .panel-head img {
    width: 20px;
    height: 20px;
    float: right;
    margin: 25px 15px 15px 0px;
    cursor: pointer;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.right .container .panel .panel-head img:hover {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
}
.right .container .panel .panel-body {
    position: relative;
    width: 100%;
}
.right .container .panel .panel-body .panel-background-shadow {
    width: 100%;
    height: 310px;
    margin: 10px 0px;
    float: left;
    z-index: 99;
    position: relative;
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0) 20%);
    background-size: 100% 100%;
}
.right .container .panel .panel-body .panel-body-content {
    width: 100%;
    height: 310px;
    margin: 10px 0px;
    position: absolute;
}
.right .container .panel .panel-body .panel-body-content .member {
    width: 100%;
    height: 60px;
    margin: 10px 0px;
}
.right .container .panel .panel-body .panel-body-content .member .member-photo {
    width: 50px;
    height: 50px;
    margin: 5px 20px 5px 0px;
    background-color: #ccc;
    float: left;
    border-radius: 100%;
}
.right .container .panel .panel-body .panel-body-content .member .member-photo img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.right .container .panel .panel-body .panel-body-content .member .member-info {
    width: auto;
    height:  50px;
    float: left;
    margin: 5px 0px;
}
.right .container .panel .panel-body .panel-body-content .member .member-info .member-name {
    width: auto;
    height: 20px;
    line-height: 20px;
    padding-top: 5px;
    font-weight: 900;
}
.right .container .panel .panel-body .panel-body-content .member .member-info .member-description {
    width: auto;
    height: 20px;
    line-height: 20px;
    padding-bottom: 10px;
    padding: 0px;
    color: #d2d2d3;
}
.right .container .panel .panel-body .panel-body-content .object {
    width: 100%;
    height: 60px;
    padding: 10px 0px;
    border-bottom: 1px solid #f4f4f4;
}
.right .container .panel .panel-body .panel-body-content .object .object-left {
    width: 100px;
    height: 60px;
    padding: 10px 0px;
    font-size: 14px;
    border-right: 1px solid #f4f4f4;
    float: left;
}
.right .container .panel .panel-body .panel-body-content .object .object-left .status {
    width: 100px;
    height: 30px;
    line-height: 30px;
}
.right .container .panel .panel-body .panel-body-content .object .object-left .status  .status-upload,
.right .container .panel .panel-body .panel-body-content .object .object-left .status  .status-task,
.right .container .panel .panel-body .panel-body-content .object .object-left .status  .status-deleted,
.right .container .panel .panel-body .panel-body-content .object .object-left .status  .status-working {
    width: 90px;
    height: 30px;
    color: #ffffff;
    padding-left: 10px;
    border-radius: 20px 0px 0px 20px;
}
.right .container .panel .panel-body .panel-body-content .object .object-left .status  .status-upload {
    background-color: #65c3df;
}
.right .container .panel .panel-body .panel-body-content .object .object-left .status  .status-task {
    background-color: #f8cb00;
}
.right .container .panel .panel-body .panel-body-content .object .object-left .status  .status-deleted {
    background-color: #ff6b6b;
}
.right .container .panel .panel-body .panel-body-content .object .object-left .status  .status-working {
    background-color: #45b7af;
}
.right .container .panel .panel-body .panel-body-content .object .object-left .time {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #d2d2d3;
}
.right .container .panel .panel-body .panel-body-content .object .object-center {
    width: auto;
    height: 60px;
    padding: 10px 10px;
    font-size: 18px;
    float: left;
}
.right .container .panel .panel-body .panel-body-content .object .object-center .object-name {
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.right .container .panel .panel-body .panel-body-content .object .object-center .object-description {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #d2d2d3;
}
.right .container .panel .panel-body .panel-body-content .object .object-right {
    width: auto;
    height: 60px;
    padding: 10px 10px 10px 0px;
    font-size: 16px;
    float: right;
}
.right .container .panel .panel-body .panel-body-content .object .object-right .progress-background {
    width: 200px;
    height: 10px;
    margin: 10px 0px;
    background-color: #fafafa;
    border-radius: 5px;
}
.right .container .panel .panel-body .panel-body-content .object .object-right .progress {
    width: 82px;
    height: 10px;
    margin: 10px 0px;
    background-color: #64c2de;
    border-radius: 5px;
    float: left;
}
.right .container .panel .panel-body .panel-body-content .object .object-right .progress-size {
    width: auto;
    height: 30px;
    line-height: 30px;
    margin: 10px 0px;
    font-size: 12px;
    font-style: italic;
    color: #d2d2d3;
    text-align: right;
}
.right .container .panel .panel-foot {
    width: 100%;
    height: 10px;
    text-align: center;
}
.right .container .panel .panel-foot a.drop-down {
    display: inline-block;
    width: 50px;
    height: 10px;
    line-height: 10px;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    cursor: pointer;
}