html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Tahoma;
    font-weight: 500;
}
.left {
    width: 500px;;
    position: fixed;
    /*left: -250px;*/
    top: 120px;
    bottom: 0px;
    background-color: #333645;
}
.menu {
    font-size: 14px;
    color: #97999e;
}
.menu ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.menu ul li {
    width: auto;
    height: 70px;
    line-height: 50px;
    margin: 0px;
    left: -250px;
    z-index: 99;
    /*padding: 10px 0px 10px 30px;*/
    list-style: none;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.menu ul li div {
    width: 220px;
    float: right;
    margin: 10px 0px 10px 30px;
}
.menu ul li img {
    width: 20px;
    height: 20px;
    margin: 15px 15px 15px 0px;
    float: left;
}
menu ul li:hover {
    transform: translateX(250px);
    -ms-transform: translateX(250px); /* IE 9 */
    -moz-transform: translateX(250px); /* Firefox */
    -webkit-transform: translateX(250px); /* Safari and Chrome */
    -o-transform: translateX(250px); /* Opera */
}
/*.menu ul li:hover,
.menu ul li.selected {*/
    /*background-color: #1e202c;
    color: #ffffff;*/
/*}*/
.menu ul li label {
    display: inline-block;
    width: 40px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #e95458;
    border-radius: 10px;
    margin-left: 30px;
    cursor: pointer;
}